# Bike sharing Demand

## Feature selection

In [98]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

In [99]:
data_frame=pd.read_csv('modified_data_train.csv')

In [100]:
data_frame.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,Month,Weekday,Year,Hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,1,5,2011,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1,5,2011,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,1,5,2011,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,1,5,2011,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,1,5,2011,4

In [101]:
model=SelectFromModel(Lasso(alpha=0.00005,random_state=0))

In [102]:
x=data_frame.drop(['datetime','count'],axis=1)
y=data_frame[['count']]

In [103]:
model.fit(x,y)

SelectFromModel(estimator=Lasso(alpha=5e-05, random_state=0))

In [104]:
model.get_support()

array([ True, False, False, False,  True,  True, False,  True,  True,
        True,  True, False, False, False])

In [105]:
features_selected=[]
for i,j in zip(x.columns,model.get_support()):
    if j==True:
        features_selected.append(i)

In [106]:
features_selected

['season', 'temp', 'atemp', 'windspeed', 'casual', 'registered', 'Month']

In [107]:
final_x_data=data_frame[features_selected]

In [108]:
final_train_data=pd.concat([final_x_data,data_frame[['count']]],axis=1)

### For test data.

In [109]:
test_data=pd.read_csv('modified_test_data.csv')

In [110]:
test_data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,Month,Weekday,Year,Hour
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,1,3,2011,0
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,1,3,2011,1
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,1,3,2011,2
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,1,3,2011,3
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,1,3,2011,4

In [111]:
final_x_data.drop(['casual','registered'],axis=1,inplace=True)
final_train_data.drop(['casual','registered'],axis=1,inplace=True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [112]:
final_test_data=test_data[final_x_data.columns]

In [113]:
final_test_data.head()

   season   temp   atemp  windspeed  Month
0       1  10.66  11.365    26.0027      1
1       1  10.66  13.635     0.0000      1
2       1  10.66  13.635     0.0000      1
3       1  10.66  12.880    11.0014      1
4       1  10.66  12.880    11.0014      1

In [114]:
final_train_data.head()

   season  temp   atemp  windspeed  Month  count
0       1  9.84  14.395        0.0      1     16
1       1  9.02  13.635        0.0      1     40
2       1  9.02  13.635        0.0      1     32
3       1  9.84  14.395        0.0      1     13
4       1  9.84  14.395        0.0      1      1

In [115]:
final_train_data.to_csv('final_train_data.csv',index=False)
final_test_data.to_csv('final_test_data.csv',index=False)